<div class="<%= screenName %>_content-album-card-visual"></div>
<div class="<%= screenName %>_content-album-card-label">
    <span class="<%= screenName %>_content-album-card-name"><%= name %></span>
    <span class="<%= screenName %>_content-album-card-copiesCount">x<%= (copiesCount < 10) ? "0" + copiesCount : copiesCount %></span>
</div>
