<div class="game_wrapper">
    <div class="game_playerHUD-opponent">
        <div class="game_playerHUD-bar">
            <%= opponentName %>
            <% if (opponentType === "computer") { %>
            <div class="game_playerHUD-bar-type">Computer - <%= difficultyLevel %> </div>
            <% } %>
            <div class="game_playerHUD-bar-state">is playing...</div>
        </div>
        <div class="game_playerHUD-avatar">
            <div class="userSettings_header-avatar-img" style="background-image: url(<%= opponentAvatar %>);"></div>
        </div>
        <div class="game_playerHUD-score"><%= opponentPoints %></div>
        <ul class="game_deck">
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
        </ul>
    </div>
    <div class="game_playerHUD-user">
        <div class="game_playerHUD-bar">
            <%= userName %>
            <div class="game_playerHUD-bar-state">Your turn!</div>
        </div>
        <div class="game_playerHUD-avatar">
            <div class="userSettings_header-avatar-img" style="background-image: url(<%= userAvatar %>);"></div>
        </div>
        <div class="game_playerHUD-score"><%= userPoints %></div>
        <ul class="game_deck">
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
            <li class="game_deck-holder"></li>
        </ul>
    </div>
    <div id="cardsContainer"></div>
    <div id="board">
        <div id="case11" class="case"></div>
        <div id="case21" class="case"></div>
        <div id="case31" class="case"></div>
        <div id="case12" class="case"></div>
        <div id="case22" class="case"></div>
        <div id="case32" class="case"></div>
        <div id="case13" class="case"></div>
        <div id="case23" class="case"></div>
        <div id="case33" class="case"></div>
    </div>
</div>
<div class="game_overlay-playerTurn screen overlay">
    <h1><span class="weight-bold"></span> turn</h1>
</div>
<div class="game_overlay-specialRule screen overlay">
    <h1><span class="weight-bold"></span></h1>
</div>
<div class="game_overlay-endGame screen overlay">
    <h1><span class="weight-bold">You</span></h1>
    <ul class="game_overlay-endGame-album-opponent"></ul>
    <ul class="game_overlay-endGame-album-user"></ul>
    <div class="game_overlay-endGame-confirmBtn" style="display:none;"></div>
</div>
